html {
    margin: 1% 2% 1% 2%;
}

body {
    font-family: serif;
    margin: 0 2% 0 2%;
    display: inline-block;
}

main {
    column-count: 3;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    font-size: 1.2em;
    border-style: solid;
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    margin-left: 1.4em;
}

h2,
header p {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 1% 0 1% 0;
}

h2 {
    font-size: 500%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    word-spacing: .3em;
}

header p {
    font-size: 215%;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 1.2rem;
    text-align: center;
}

h4,
main p {
    display: block;
    margin-top: 0;
    padding: 0 1.5rem 0 1.5rem;
    text-align: justify;
    line-height: 1.2em;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: .1rem;
    word-spacing: .5em;
}