@charset "UTF-8";
/* Add fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}


.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html {
  /* Wallpaper */
	box-sizing: border-box;
  background-image: url("img/KC.png");
  size: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: "Cormorant Garamond", serif;
  height: 90%;
  width: 85%;
  text-align: justify;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(50, 0, 4, 0.9);
  background-size: 90%;
}

article footer, main, aside, footer{
  background-color: rgba(30, 0, 2, 0.9);
  padding: 1rem;
  margin-top: 3rem;
  line-height: 3rem;
}

/* Heading design */
header, nav{
  text-align: center;
  background: none;
}


h1, h2, h3, h4{
  font-family: "Cinzel Decorative", serif;
}

h1{ 
  font-family: "Cinzel Decorative", serif;
  color: rgb(223, 184, 96);
  background-color: rgb(148, 1, 5);
  border: 0.15em double rgb(223, 184, 96);
  background-size: contain;
  background-repeat: round;
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
  margin: 2rem 0;
  font-size: 8rem;
  text-align: center;
}

h2, h3, h4{
  font-family: "Playfair Display", serif;
  color: rgb(223, 184, 96);
  letter-spacing: 5%;
  font-size: 200%;
}

p, li{
  font-size: 150%;
  color: white;
}

strong{
  font-weight: bolder;
}

.link-github{
  display: none;
  visibility: hidden;
  border: none;
  background: none;
}

li{
  list-style: none;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section ul li{
  font-size: 120%;
  font-weight: 600;
  color: rgb(223, 184, 96);
  background-color: rgb(148, 1, 5);
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.5rem;
  border: 0.3rem double rgb(223, 184, 96);
}

a:not(:has(svg)){
/* An interesting property that can include/exclude a child element */
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding: 0 0.1rem;
  letter-spacing: 5%;
  text-decoration: none;
  text-align: center;
  color: rgb(223, 184, 96);
  /* background-color: rgb(148, 1, 5);
  border: 0.1rem double rgb(223, 184, 96); */
}

main a, aside a, footer a, header p a {
  position: relative;
  text-decoration: none;
}

main a::after, aside a::after, footer a::after, header p a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(-50%);
}

main a:hover::after, aside a:hover::after, footer a:hover::after, header p a:hover::after {
  width: 100%;
}

nav a{
  background-color: rgb(148, 1, 5);
  padding: 0.5rem 2rem;
  border: 0.3rem double rgb(223, 184, 96);
}
