@charset "UTF-8";

/* STEP 1: Named Selector
------------------------------------------------------- */
h2{
    color: red !important;
    font-weight: normal;
}

/* STEP 2: ID Selector
------------------------------------------------------- */
#sp{
    color: blueviolet;
}

/* STEP 3: Class Selector
------------------------------------------------------- */
.project{
    background-color: rgb(255, 201, 179);
    border: dashed;
}
.about{
    border: dashed;
}

/* STEP 4: Contextual/Descendent Selector
------------------------------------------------------- */
section p{
    color: crimson;
}
.about p a{
    /* background-color: lightblue; */
}
/* STEP 5: Grouped Selector
------------------------------------------------------- */
h1, h2, h3{
    font-family: sans-serif;
}

/* STEP 6: Pseudo-Class Selector
------------------------------------------------------- */
a:link{
    text-decoration: none;
    color: crimson;
    background-color: rgb(255, 200, 178);
}

a:visited{
    text-decoration: none;
    color: blueviolet;
    background-color: rgb(205, 157, 255)
}

a:hover{
    text-decoration: underline;
}
 a:active{
    color: blue;
 }
/* STEP 7: Structural Pseudo-Class Selector
------------------------------------------------------- */
li:nth-child(3n){
    background-color:brown;
    color:antiquewhite;
}

/* STEP 8: Pseudo-Element Selector
------------------------------------------------------- */
p::first-line{
    text-transform: capitalize;
}
p::first-letter{
    font-size: 150%
}

/* STEP 9: Combinator Selector
------------------------------------------------------- */
h1 + p{
    font-weight: bold;
}

/* STEP 10: Attribute Selector
------------------------------------------------------- */
*[lang="es"]{
    background-color: darkred;
}

/* STEP 11: Getting Crazy
------------------------------------------------------- */
.project h2[lang="es"] + p em{
    
}